/* mmToolbar Reset */
#mmToolbar,#mmToolbar div,#mmToolbar table,#mmToolbar tr,#mmToolbar td,#mmToolbar tr:hover td,#mmToolbar img,#mmToolbar a img,.mmToolbar_window table,.mmToolbar_window tr,.mmToolbar_window td,.mmToolbar_window img,.mmToolbar_window a,#mmToolbarMinimized tr,#mmToolbarMinimized td,#mmToolbarMinimized img,#mmToolbarMinimized a img,.mmToolbar_td tr:hover td
	{
	background-color: transparent;
	text-align: left;
	direction: ltr;
	border: none;
	border-collapse: separate;
	padding: 0;
	margin: 0;
}

#mmToolbar {
	font-family: \"lucida grande\", tahoma, verdana, arial, sans-serif;
	font-weight: normal;
	font-size: 11px;
	line-height: 14px;
	color: #333333;
	width: 100%;
	height: 30px;
	z-index: 9999999;
	position: fixed !important;
	left: 0px;
	bottom: 0px;
}

#mmToolbar_tbl {
	width: 100%;
	height: 30px;
}

#mmToolbar_left {
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprite_pure_white.png);
	background-repeat: no-repeat;
	background-position: 0px -150px;
	width: 9px;
	height: 30px;
	display: inline;
	float: right;
}

#mmToolbar_left_wrapper {
	width: 15px;
}

#mmToolbar_center {
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprite_pure_white.png);
	background-position: 0px -120px;
	background-repeat: repeat-x;
	position: relative;
	vertical-align: bottom;
	padding-top: 4px;
}

#mmToolbar_right {
	width: 35px;
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprite_pure_white.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.mmToolbar_divider {
	width: 2px;
	height: 26px;
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprite_pure_white.png);
	background-repeat: no-repeat;
	background-position: -10px -154px;
	display: inline;
	float: left;
}

.mmToolbar_tooltip {
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/tooltip-arrow2.gif);
	background-repeat: no-repeat;
	padding-bottom: 4px !important;
	position: absolute;
	z-index: 10 !important;
	display: inline !important;
	bottom: 30px !important;
}

.mmToolbar_tooltip_left {
	background-position: 5px bottom;
	left: 6px;
	right: auto;
}

.mmToolbar_tooltip_right {
	background-position: right bottom;
	left: auto;
	right: 6px;
}

.mmToolbar_tooltip_text {
	font-size: 11px;
	font-family: Arial, Verdana;
	background-color: #880000;
	color: white;
	display: block;
	height: auto;
	line-height: inherit;
	margin: 0 -5px 0 0;
	padding: 3px 8px;
	position: relative;
	white-space: nowrap;
	width: auto;
}

#mmToolbar_right :hover {
	background-position: 0px -30px;
	cursor: pointer;
}

#mmToolbar_min_tbl {
	direction: ltr;
	width: 150px;
	height: 30px;
	font: inherit;
	padding: 0;
	margin: 0;
	border: none;
	border-collapse: separate;
}

#mmToolbar_min_tbl :hover {
	cursor: pointer;
}

#mmToolbar_min_tbl :hover #mmToolbar_minimized_right {
	background-position: 0px -90px;
	cursor: pointer;
}

#mmToolbarMinimized {
	direction: ltr;
	font-family: \"lucida grande\", tahoma, verdana, arial, sans-serif;
	font-weight: normal;
	font-size: 11px;
	text-align: left;
	color: #333333;
	width: auto;
	height: 30px;
	z-index: 9999997;
	position: fixed !important;
	right: 0px;
	bottom: 0px;
	line-height: 14px;
}

#mmToolbar_minimized_left {
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprite_pure_white.png);
	background-repeat: no-repeat;
	background-position: 0px -150px;
	width: 20px;
}

#mmToolbar_minimized_center {
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprite_pure_white.png);
	background-position: 0px -120px;
	background-repeat: repeat-x;
	position: relative;
	width: 75px;
}

#mmToolbar_minimized_right {
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprite_pure_white.png);
	background-repeat: no-repeat;
	background-position: 0px -60px;
	width: 60px;
}

#mmToolbar_minimized_right :hover {
	background-position: 0px -90px;
	cursor: pointer;
}

#mmToolbar_minimized_content {
	padding: 3px 5px 3px 5px;
	width: 100%;
	height: 100%;
	position: relative;
}

#mmToolbar_minimized_favicon {
	display: inline;
	float: left;
	vertical-align: middle;
	margin-top: 5px !important;
}

#mmToolbar_minimized_text {
	color: #333333;
	font-size: 12px;
	font-family: Arial, Verdana;
	display: inline;
	float: left;
	margin-top: 7px;
	margin-left: 6px;
}  /* wiwi */
#mmToolbar_window_template {
	z-index: 1000;
	visibility: hidden;
	left: -5000px;
	position: fixed !important;
}

.mmToolbar_wiwi_back {
	background-color: #000;
	filter: alpha(opacity = 40);
	-moz-opacity: 0.40;
	opacity: 0.40;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.mmToolbar_wiwi_main {
	background-color: white;
	border: solid 1px #b9bbb5; /* theme border **********************************************************************/
	position: absolute;
	top: 6px;
	left: 6px;
}

.mmToolbar_wiwi_header {
	display: block;
	width: 100%;
	background-color: #e8ebe4; /* highlight color ************************************************************************/
	border-bottom: solid 1px #b9bbb5; /* theme border *******************************************************************/
	height: 25px;
}

.mmToolbar_wiwi_icon {
	display: inline;
	width: 16px;
	height: 16px;
	float: left;
	margin: 4px 5px 1px 5px !important;
	padding: 0 !important;
}

.mmToolbar_wiwi_caption {
	color: #636461; /* text color *********************************************************/
	font-size: 12px;
	font-family: \"lucida grande\", tahoma, verdana, arial, sans-serif;
	font-weight: bold;
	display: inline;
	float: left;
	margin: 4px 0px 0px 0px;
}

.mmToolbar_wiwi_close_a,.mmToolbar_wiwi_close_a:link {
	color: #636461;
	/* text color **************************************************************************************************/
	font-size: 15px;
	font-family: sans-serif, \"lucida grande\", tahoma, verdana, arial;
	font-weight: bold;
	text-decoration: none;
}

.mmToolbar_wiwi_close_a:hover {
	color: #000000;
	/* text color hover********************************************************************************************/
	font-size: 15px;
	font-family: sans-serif, \"lucida grande\", tahoma, verdana, arial;
	font-weight: bold;
	text-decoration: none;
}

.mmToolbar_wiwi_close {
	display: inline;
	float: right;
	margin: 5px 5px 1px 5px;
}

.mmToolbar_wiwi_body {
	width: 100%;
	display: block;
}

.mmToolbar_wiwi_loader {
	position: relative;
	top: 45%;
	left: 45%;
}

.mmToolbar_wiwi_footer {
	width: 100%;
	height: 20px;
	display: block;
	background-color: #e8ebe4; /* theme back ********************************************************************/
	border-top: solid 1px #b9bbb5;
	/* theme border *****************************************************************************/
}

.mmToolbar_wiwi_footerlink,.mmToolbar_wiwi_footerlink:link {
	width: 130px;
	display: block;
	background: transparent url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/mm_footer_new.png) no-repeat scroll 78px
		2px;
	padding: 1px 1px 1px 7px !important;
	direction: ltr;
	font-family: \"lucida grande\", tahoma, verdana, arial, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-align: left;
	text-decoration: none;
	color: #636461 !important; /* text color */
	float: left;
	line-height: 16px;
}

.mmToolbar_wiwi_footerlink:hover {
	width: 130px;
	display: block;
	background: transparent url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/mm_footer_new.png) no-repeat scroll 78px
		2px;
	padding: 1px 1px 1px 7px !important;
	direction: ltr;
	font-family: \"lucida grande\", tahoma, verdana, arial, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-align: left;
	text-decoration: none;
	color: #000000; /* text color hover*****************************************************************/
	float: left;
	line-height: 16px;
}

.mmToolbar_wiwi_close_window {
	direction: ltr;
	display: block;
	float: right;
	font-family: \"lucida grande\", tahoma, verdana, arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 16px;
	padding: 2px 4px 2px 5px !important;
	text-decoration: none !important;
	width: 100px !important;
	text-align: right !important;
	color: #636461 !important;
}  /*                Button            */
.mmToolbar_button {
	display: inline !important;
	float: left !important;
	border-top: solid 1px #b3b3b1 !important;
	border-left: solid 1px #a2a2a2 !important;
	border-right: solid 1px #a2a2a2 !important;
	border-bottom: solid 1px #b5b5b5 !important;
	background-color: #f4f2f1 !important;
	height: 20px !important;
	margin: 2px !important;
	cursor: pointer !important;
	position: relative !important;
}

.mmToolbar_button:hover {
	display: inline !important;
	float: left !important;
	border-top: solid 1px black !important;
	border-left: solid 1px black !important;
	border-right: solid 1px black !important;
	border-bottom: solid 1px black !important;
	background-color: #ffffff !important;
	height: 20px !important;
	margin: 2px !important;
	position: relative !important;
}

.mmToolbar_button .mmToolbar_icon {
	width: 16px !important;
	height: 16px !important;
	display: inline !important;
	float: left !important;
	margin: 2px 4px 2px 4px !important;
	background-image: url(http://cdn.cloudfiles.mosso.com/c118731/sprites_set1.png) !important;
	background-repeat: no-repeat !important;
}

.mmToolbar_button .mmToolbar_itemText {
	margin: 4px 8px 4px 0px !important;
	color: #444444 !important;
}  /* Favicons on buttons */
.mmToolbar_button .fb {
	background-position: -55px -15px !important;
}

.mmToolbar_button .arrow {
	background-position: -62px 0px !important;
	margin-top: 3px !important;
}

.mmToolbar_button .random {
	background-position: -38px -15px !important;
}

.mmToolbar_button .fp {
	background-position: 0px -37px !important;
	margin-top: 3px !important;
}

#mmToolbar_itemsContainer {
	width: 100%;
	height: 26px;
	background-color: transparent;
	position: relative;
	bottom: 0px;
	left: 0px;
	display: inline;
}

#mmToolbar_center .itemLeft {
	height: 26px;
	background-color: transparent;
	display: block;
	float: left;
}

#mmToolbar_center .itemRight {
	height: 26px;
	background-color: transparent;
	display: block;
	float: right;
}

#mmToolbar_center .itemLeft a,#mmToolbar_center .itemRight a {
	text-decoration: none;
}

.mmToolbar_itemTbl {
	margin: 0px;
	padding: 0px;
}

.mmToolbar_itemIcon {
	display: inline;
	float: left;
}  /* General Componenets */ /*            /toolbar Items            /            */
.mmToolbar_item_normal {
	background-color: transparent !important;
	height: 26px;
	position: relative;
	display: list-item;
	list-style-type: none;
	width: auto;
	z-index: 1;
}

.mmToolbar_item_over {
	background-color: #e8ebe4 !important; /* highlight color ********************************************************/
	height: 26px;
	position: relative;
	width: auto;
	display: list-item;
	list-style-type: none;
}

.mmToolbar_itemImg {
	margin: 4px !important;
	display: inline;
	float: left;
}

.mmToolbar_itemText {
	margin-left: 4px;
	margin-top: 7px;
	margin-bottom: 6px;
	margin-right: 10px;
	display: inline;
	float: left;
	color: #636461; /* text color ********************************************************/
	font-size: 11px;
	font-family: Arial, Verdana;
	height: auto;
	position: static;
	width: auto;
	line-height: 1em;
}

.mmToolbar_td {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
}  /*****Menu***/
.mmToolbar_menu {
	width: 120px;
	height: auto;
	background-color: white !important;
	position: absolute;
	bottom: 27px;
	left: 0px;
	border: solid 1px #b9bbb5 !important; /* menu color */
	color: inherit;
	display: inline;
	z-index: -1;
}

.mmToolbar_search_menu {
	width: 250px;
	height: auto;
	background-color: white !important;
	position: absolute;
	bottom: 27px;
	left: 0px;
	border: solid 1px #b9bbb5 !important; /* menu color */
	color: inherit;
	display: inline;
	z-index: -1;
}

.mmToolbar_search_menuItem_normal {
	height: 25px;
	font-size: 11px;
	vertical-align: middle;
	text-align: left;
	color: inherit;
	background-color: white;
	overflow: hidden;
}

.mmToolbar_search_menuItem_over {
	height: 25px;
	font-size: 11px;
	vertical-align: middle;
	text-align: left;
	color: inherit;
	background-color: #f1f6fc;
}

.mmToolbar_Menu_UL {
	list-style: none;
	margin: 5px 0px 5px 0px;
	padding: 0;
	direction: ltr;
}

.mmToolbar_menuItem_normal {
	height: 25px;
	font-size: 11px;
	vertical-align: middle;
	text-align: left;
	color: inherit;
	background-color: white;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.mmToolbar_menuItem_over {
	height: 25px;
	font-size: 11px;
	vertical-align: middle;
	text-align: left;
	color: inherit;
	background-color: #f1f6fc;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.mmToolbar_menuImg {
	margin-top: 4px !important;
	margin-left: 10px !important;
	vertical-align: middle;
	padding: 0 !important;
	border: none;
	display: inline;
}

.mmToolbar_menuText {
	margin-left: 6px;
	width: auto;
	height: auto;
	position: relative;
	top: 4px;
	color: #333333;
}

#mmPop {
	background-image: url(http://toolbar.mm.com/Graphics/popup_background.png);
	background-repeat: no-repeat;
	position: absolute;
	right: 30px;
	bottom: 35px;
	width: 290px;
	height: 193px;
}

.mmToolbar_panel {
	background-color: white !important;
	position: absolute;
	bottom: 27px;
	border: solid 1px #b9bbb5 !important; /* menu color */
	color: inherit;
	display: inline;
	z-index: 1;
}

.mmToolbar_panel_header {
	width: 100%;
	height: 20px;
	display: block;
	background-color: #e8ebe4 !important; /* highlight color */
	border-bottom: solid 1px #b9bbb5 !important; /* menu color */
}

.mmToolbar_panel_body {
	width: 100%;
	display: block;
	background-color: #ffffff;
	overflow-y: auto;
	overflow-x: hidden;
}

.mmToolbar_panel_title {
	display: inline;
	float: left;
	padding-left: 5px !important;
	padding-top: 2px !important;
	font-family: Arial, Verdana;
	font-size: 12px;
	color: #636461; /* text color */
	font-weight: bold;
}

.mmToolbar_panel_close {
	display: inline;
	float: right;
	padding-right: 5px !important;
	padding-top: 2px !important;
}

.mmToolbar_panel_close a {
	font-family: Arial, Verdana;
	font-size: 13px;
	color: #636461; /* text color */
	font-weight: bold;
	text-decoration: none;
	border: none;
	padding: none;
}

.mmToolbar_panel_close a:hover {
	font-family: Arial, Verdana;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	border: none;
	padding: none;
}

tr:hover .mmToolbar_recent_title,.mmToolbar_recent_title {
	font-family: Arial, Verdana;
	font-size: 13px;
	color: #3f6898;
	font-weight: bold;
	line-height: 20px;
	border: none;
	margin: 0;
}

.mmToolbar_recentItem_normal {
	background-color: #ffffff;
}

.mmToolbar_recentItem_over {
	background-color: #f1f6fc;
}

.mmToolbar_recentItem_selected {
	background-color: #e1e6ec;
	cursor: default;
}

.mmToolbar_recent_tags {
	color: #8e8e8e;
	font-family: Arial, Verdana;
	font-size: 11px;
	font-weight: normal;
	margin: 0;
}  /*****lightbox***/
#TB_overlay {
	position: fixed;
	z-index: 1000;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

.TB_overlayMacFFBGHack {
	background: url(macFFBgHack.png) repeat;
}

.TB_overlayBG {
	background-color: #000;
	filter: alpha(opacity = 75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

* html #TB_overlay { /* ie6 hack */
	position: absolute;
	height: expression(document . body . scrollHeight >   document . body . offsetHeight ?   document . body . scrollHeight :  
		document . body . offsetHeight +   \"px\");
}

.mmToolbar_ligthbox {
	width: 100%;
	height: 100%;
	background-color: #000000;
	opacity: 0.8;
	padding: 0px;
	position: fixed !important;
	position: absolute;
	padding: 0px;
	margin: 0px;
	z-index: 1000;
	direction: ltr;
	top: 0px;
	left: 0px;
}  /*****Wiwi***/
#mmToolbar_window_template {
	position: absolute;
	visibility: hidden;
	left: -1000px;
}

.mmToolbar_window {
	padding: 0px;
	position: fixed !important;
	line-height: 14px;
	padding: 0px;
	margin: 0px;
	z-index: 10013;
	direction: ltr;
}

.mmToolbar_wiwi_close_window {
	direction: ltr;
	display: block;
	float: right;
	font-family: lucida grande, tahoma, verdana, arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 16px;
	padding: 2px 4px 2px 5px !important;
	text-decoration: none !important;
	width: 100px !important;
	text-align: right !important;
	color: #636461 !important; /* text color */
}  /*****search***/
.mmToolbar_search_container {
	position: relative;
	width: 160px;
	height: 26px;
	top: 0px;
	left: 0px;
}

.mmToolbar_search_providers_back {
	position: absolute;
	top: 2px;
	left: 0px;
	width: 32px;
	height: 22px;
}

.mmToolbar_search_providers_normal {
	background-color: #a0a0a0 !important;
}

.mmToolbar_search_providers_over {
	background-color: #555555 !important;
}

.mmToolbar_search_providers {
	position: absolute;
	top: 1px;
	left: 1px;
	width: 30px;
	height: 20px;
	background-color: white !important;
}

.mmToolbar_search_providers_icon {
	border: none;
	position: absolute;
	top: 2px;
	left: 1px;
	width: 16px;
	height: 16px;
}

.mmToolbar_search_providers_icon img {
	padding: 0;
	margin: 0;
	border: none;
}

.mmToolbar_search_providers_arrow {
	border: none;
	position: absolute;
	top: 8px;
	left: 19px;
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprites.png);
	background-repeat: no-repeat;
	background-position: -66px -114px;
	width: 10px;
	height: 8px;
}

.mmToolbar_search_textbox_back {
	position: absolute;
	top: 2px;
	left: 34px;
	width: 125px;
	height: 22px;
}

.mmToolbar_search_textbox_on {
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprites.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 118px;
	height: 22px;
}

.mmToolbar_search_textbox_input {
	border: 0 none transparent;
	background-color: transparent;
	font-size: 13px;
	font-family: Arial, Verdana;
	margin: 2px 2px 4px !important;
	width: 95px;
	position: absolute;
	left: 1px;
	top: 0px;
	padding: 0;
}

.mmToolbar_searchbox_default {
	color: #777777;
	font-style: italic;
}

.mmToolbar_searchbox_on {
	color: #333333;
	font-style: normal;
}

.mmToolbar_search_textbox_button {
	width: 20px;
	height: 18px;
	position: absolute;
	left: 95px;
	top: 1px;
	background-color: transparent;
}

.mmToolbar_SearchmenuItem_normal {
	height: 25px;
	font-size: 11px;
	vertical-align: middle;
	text-align: left;
	color: inherit;
	background-color: white;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.mmToolbar_SearchmenuItem_over {
	height: 25px;
	font-size: 11px;
	vertical-align: middle;
	text-align: left;
	color: inherit;
	background-color: #f1f6fc;
	margin: 0;
	padding: 0;
}  /*****translate***/
.mmToolbar_item5 {
	margin: 4px !important;
	display: inline;
	float: left;
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprites.png);
	background-repeat: no-repeat;
	background-position: 0px -42px;
	width: 19px;
	height: 19px;
}

.mmToolbar_translate_flag {
	width: 18px;
	height: 13px;
	float: left;
	display: inline;
	margin: 5px 5px 0px 6px !important;
}

.mmToolbar_menuItem_normal .English,.mmToolbar_menuItem_over .English {
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/flags.png);
	background-repeat: no-repeat;
	background-position: 0px -138px;
}

.mmToolbar_menuItem_normal .French,.mmToolbar_menuItem_over .French {
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/flags.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.mmToolbar_menuItem_normal .Polish,.mmToolbar_menuItem_over .Polish {
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/flags.png);
	background-repeat: no-repeat;
	background-position: 0px -14px;
}

.mmToolbar_menuItem_normal .Spanish,.mmToolbar_menuItem_over .Spanish {
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/flags.png);
	background-repeat: no-repeat;
	background-position: 0px -28px;
}

.mmToolbar_menuItem_normal .Italian,.mmToolbar_menuItem_over .Italian {
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/flags.png);
	background-repeat: no-repeat;
	background-position: 0px -42px;
}

.mmToolbar_menuItem_normal .German,.mmToolbar_menuItem_over .German {
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/flags.png);
	background-repeat: no-repeat;
	background-position: 0px -56px;
}

.mmToolbar_menuItem_normal .Chinese,.mmToolbar_menuItem_over .Chinese {
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/flags.png);
	background-repeat: no-repeat;
	background-position: 0px -70px;
}

.mmToolbar_menuItem_normal .Japanese,.mmToolbar_menuItem_over .Japanese {
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/flags.png);
	background-repeat: no-repeat;
	background-position: 0px -152px;
}

.mmToolbar_menuItem_normal .Korean,.mmToolbar_menuItem_over .Korean {
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/flags.png);
	background-repeat: no-repeat;
	background-position: 0px -165px;
}

.mmToolbar_menuItem_normal .Russian,.mmToolbar_menuItem_over .Russian {
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/flags.png);
	background-repeat: no-repeat;
	background-position: 0px -179px;
}

.mmToolbar_menuItem_normal .Swedish,.mmToolbar_menuItem_over .Swedish {
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/flags.png);
	background-repeat: no-repeat;
	background-position: 0px -84px;
}

.mmToolbar_menuItem_normal .Dutch,.mmToolbar_menuItem_over .Dutch {
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/flags.png);
	background-repeat: no-repeat;
	background-position: 0px -98px;
}

.mmToolbar_menuItem_normal .Portuguese,.mmToolbar_menuItem_over .Portuguese {
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/flags.png);
	background-repeat: no-repeat;
	background-position: 0px -112px;
}

.mmToolbar_menuItem_normal .Hebrew,.mmToolbar_menuItem_over .Hebrew {
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/flags.png);
	background-repeat: no-repeat;
	background-position: 0px -126px;
}  /*****navigate***/
.mmToolbar_navigate_container {
	position: relative;
	width: auto;
	height: 26px;
	top: 0px;
	left: 0px;
}

#mmToolbar_navigator_recent_tmp,#mmToolbar_navigator_rand_tmp {
	border: none;
	position: absolute;
	top: 2px;
	height: 22px;
}

.mmToolbar_navigate_recent_normal {
	left: 3px;
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprites.png);
	background-repeat: no-repeat;
	background-position: 0px -63px;
	width: 105px;
}

.mmToolbar_navigate_rand_normal {
	left: 110px;
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprites.png);
	background-repeat: no-repeat;
	background-position: 0px -168px;
	width: 83px;
}

.mmToolbar_navigate_recent_over {
	left: 3px;
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprites.png);
	background-repeat: no-repeat;
	background-position: 0px -85px;
	width: 105px;
}

.mmToolbar_navigate_rand_over {
	left: 110px;
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprites.png);
	background-repeat: no-repeat;
	background-position: 0px -190px;
	width: 83px;
}

.mmToolbar_recent_panel {
	background-color: white !important;
	position: absolute;
	bottom: 27px;
	border: solid 1px #666666 !important; /* menu color */
	color: inherit;
	display: inline;
	z-index: 1;
	left: 0px;
}  /*****navigate***/
.mmToolbar_navigate_container {
	position: relative;
	width: auto;
	height: 26px;
	top: 0px;
	left: 0px;
}

#mmToolbar_navigator_recent_tmp,#mmToolbar_navigator_rand_tmp {
	border: none;
	position: absolute;
	top: 2px;
	height: 22px;
}

.mmToolbar_navigate_recent_normal {
	left: 3px;
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprites.png);
	background-repeat: no-repeat;
	background-position: 0px -63px;
	width: 105px;
}

.mmToolbar_navigate_rand_normal {
	left: 110px;
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprites.png);
	background-repeat: no-repeat;
	background-position: 0px -168px;
	width: 83px;
}

.mmToolbar_navigate_recent_over {
	left: 3px;
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprites.png);
	background-repeat: no-repeat;
	background-position: 0px -85px;
	width: 105px;
}

.mmToolbar_navigate_rand_over {
	left: 110px;
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprites.png);
	background-repeat: no-repeat;
	background-position: 0px -190px;
	width: 83px;
}

.mmToolbar_recent_panel {
	background-color: white !important;
	position: absolute;
	bottom: 27px;
	border: solid 1px #666666 !important; /* menu color */
	color: inherit;
	display: inline;
	z-index: 1;
	left: 0px;
}  /*****Gallery***/
.mmToolbar_item17 {
	margin: 4px !important;
	display: inline;
	float: left;
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprites.png);
	background-repeat: no-repeat;
	background-position: -21px -43px;
	width: 22px;
	height: 19px;
}  /*****Notifier***/
.mmToolbar_item15 {
	margin: 5px 4px 4px 4px !important;
	display: inline;
	float: left;
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprites.png);
	background-repeat: no-repeat;
	background-position: -91px -43px;
	width: 28px;
	height: 18px;
}  /*****Twitter***/
.mmToolbar_item20 {
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprites_set1.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline;
	float: left;
	height: 15px;
	margin: 6px !important;
	width: 62px;
}

.twitter_name:hover {
	text-decoration: underline;
}

.twitter_body_text {
	font-family: Arial, Verdana;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
}

.twitter_body_text a {
	color: #2FC2EF;
	text-decoration: none;
}

.twitter_body_text a:hover {
	text-decoration: underline;
}

.twitter_latest {
	width: 100%;
	height: 230px;
	overflow-y: scroll;
	overflow-x: hidden;
	display: block;
}

.twitter_latest UL {
	padding: 0px;
	margin: 0px;
	direction: ltr;
}

.twitter_latest UL LI {
	list-style: none;
	font-family: Arial, Verdana;
	font-size: 14px;
	line-height: 20px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
	padding: 8px;
	border-bottom: dashed 1px #cccccc;
	text-align: left;
}

.twitter_time {
	color: #999999;
	font-family: georgia;
	font-size: 0.8em;
	font-style: italic;
	line-height: 1.1em;
	text-align: left;
	display: block;
	padding-top: 10px;
}

.mmToolbar_tw_lnk,.mmToolbar_tw_lnk:link,.mmToolbar_tw_lnk:visited {
	color: #1aa3cd;
	font-family: Arial, Verdana;
	text-decoration: none;
	font-weight: bold;
}

.mmToolbar_tw_lnk:hover {
	color: #1aa3cd;
	font-family: Arial, Verdana;
	text-decoration: underline;
	font-weight: bold;
}  /**fan page*   .mmToolbar_button .fp - is included in main css*/ /**Share tool*/
.mmToolbar_item14 {
	margin: 6px 4px 4px 4px !important;
	display: inline;
	float: left;
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprites.png);
	background-repeat: no-repeat;
	background-position: -17px -108px;
	width: 14px;
	height: 16px;
}

.mmToolbar_share_sprite {
	width: 18px;
	height: 18px;
	float: left;
	display: inline;
	margin: 3px 5px 0px 6px !important;
	background-image: url(http://toolbar.mm.com/Graphics/Themes/share_sprite.png);
	background-repeat: no-repeat;
}

.mmToolbar_shareItem_normal {
	background-image: none;
	height: 25px;
	font-size: 11px;
	vertical-align: middle;
	text-align: left;
	color: inherit;
	background-color: white;
	overflow: hidden;
	line-height: 18px;
	margin: 0;
	padding: 0;
}

.mmToolbar_shareItem_over {
	background-image: none;
	height: 25px;
	font-size: 11px;
	vertical-align: middle;
	text-align: left;
	color: inherit;
	background-color: #f1f6fc;
	line-height: 18px;
	margin: 0;
	padding: 0;
}  /**RSS Registration*/
.mmToolbar_item13 {
	margin: 4px !important;
	display: inline;
	float: left;
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprites.png);
	background-repeat: no-repeat;
	background-position: -49px -108px;
	width: 15px;
	height: 16px;
}  /* items */
.mmToolbar_item26 {
	background-image: url(http://c0118731.cdn.cloudfiles.rackspacecloud.com/sprites_set1.png);
	background-position: -18px -15px;
	background-repeat: no-repeat;
	display: inline;
	float: left;
	height: 20px;
	margin: 4px !important;
	width: 19px;
}